#contact-list {
    padding: 10px;
}

.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea divisoria gris */
}

.contact img {
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px;
}

.contact-details {
    flex: 1;
}

.contact-name {
    font-weight: bold;
}
